@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@400;500;700&display=swap');

:root {
 --Cinza_banner: #d8d8d8;
 --Branco_background: #FFFFFF;
 --Menu_Preto: #000000;
 --Botão_rosa: #FFE8E8;
 --Cinza_títulos: #999999;
 --texto_geral: #6d6d6d;
 --fonte_poppins: 'Poppins', sans-serif;
 --font_dancing: 'Dancing Script', cursive;
}


body {
  font-family: var(--fonte_poppins);
  font-family: 16px;
  font-weight: 400px;
  line-height: 1.5;  
  color: var(--texto_geral);

  
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
 
}

.wrapper-header {
  width: 100%;
  height: 713px;
  position: relative;
  margin-top: 0 auto;
  margin: 119px;
 
}

.wrapper-header::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f6f6f6;

  width: 90%;
  height: 100%;
}


/* header */
.list-menu { 
 list-style: none;
 padding: 0;
 margin:  0;
 display: flex;
 position: relative;
 z-index: 1;
 padding-top: 30px;
 left: 15%;
 width: 50%;
 
}

.list-menu--item {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.list-menu--item a {
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
}


/* name */
.title {
 font-weight: 700;
 font-size: 94px;
 line-height: 110px;
 color: #999;
 margin-bottom: 40px;
 margin-top: 80px;
 position: relative;
 z-index: 1;
 width: 450px;
}

.list-social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  z-index: 1;
  
}

.list-social--item {
  margin-right: 20px;
}

.list-social--item a {
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 6.33143px;

  text-decoration: none;
  color: #000;
}

.button-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;

  padding: 28px 12px;
  background: #ffe8e8;

  max-width: 350px;

  font-size: 24px;
  line-height: 36px;
  color: #665d5d;
  text-decoration: none;
  text-transform: uppercase;

  position: relative;
  z-index: 1;

}

.photo {
  max-height: 713px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.img-icone {
  padding-right: 20px;
  width: 32px;
}

.container-principal {
  margin-top: 50px;
  color: var(--texto_geral);
  max-width: 100%;
}

.experiencias-titulo2 {
  margin-left:  119px;
  margin-right: 119px;

}
.experiencias {  
  display: flex;  
  margin-left: 119px;
  margin-right: 119px;
  gap: 400px;
 
 
}

.experiencias-empresas {
  font-size: 30px;
  line-height: 33px;
  color: #6d6d6d;
  margin: 0;

  }
.experiencias-data {
  font-size: 18px;
  line-height: 36px;
  color: #7E7C7C;
  opacity: 0.6;
  margin: 0;
}


.descricao {
  font-family: var(--fonte_poppins);
  font-weight: 400px;
  font-size: 18px;
  line-height: 33px;

}

.descricao {
  width: 60%;
}


.img-projetos {
  width: 662px;
  height: 590px;
}

.descricao p {
font-size: 18px;
line-height: 33px;
color:#6d6d6d;
margin: 0;
}
 

h2 {
  color: var(--Cinza_títulos);
  font-family: var(--fonte_poppins);
  font-weight: 700;
  font-size: 80px;
}


.projetos {

 margin-left:  119px;
 margin-right: 119px;
}


.container-projeto1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
  
}   

.container-projeto2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}

.container-projeto3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}

.projeto-item {

  padding-left: 60px;
  }

  .projeto-item2 {
    padding-right: 60px;
  }

#img-projeto1 {
  width: 662px;
  height: 590px;
}


.descricao-projeto1-sbtitulo {
  display: flex;
  align-items: center;
}


.subtitulo3 {
  display: flex
  
  
  
}
.container-sobremim {
  
  margin-left: 119px;
  margin-right: 119px;
  height: 1323px;
  
  
}

.meus-contatos {
  width: 430px;
  height: 276px;
  background: #ffe8e8;
  padding: 32px;
  margin-left: 600px;
  margin-top: -200px;
  position: relative;
    
}

.titulos-contatos {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #7E7C7C;
mix-blend-mode: normal;
opacity: 0.6;
text-transform: uppercase;
}

.dados-contatos {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;  
  letter-spacing: 0.385714px;
  color: #2E2E2E;
  
}

.assinatura {
  font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 80px;
  line-height: 76px;
  color:#6d6d6d
}

.descricao-final {
  margin-top: 60px;

}
.rodape {
  position: absolute;
  width: 100%;
  height: 208px;
  left: 0px;  
  background: #D8D8D8;
  text-align: center;  
  font-weight: 400;
  font-size: 18px;
  color: #6d6d6d;
  mix-blend-mode: normal;
  opacity: 0.8;  
}

/* OBS: Essa versão é para tela do  computador */
  

  
 

  
  

  
 